---
import { getCollection } from "astro:content"
import EducationItem from "./EducationItem.astro"
const educationItems = await getCollection("education")
---

<div class="education pt-5 pb-0 not-prose">
  <h3 class="font-display education-title font-extrabold">Education</h3>
  <ul class="education-items">
    {
      educationItems.map((item: any) => (
        <EducationItem
          title={item.data.title}
          school={item.data.school}
          location={item.data.location}
          years={item.data.years}
          image={item.data.image}
        />
      ))
    }
  </ul>
</div>
