---
import { Badge } from "@/components/ui/badge";
import { Building2, Calendar, MapPin } from "lucide-react";

interface Props {
  title: string;
  company: string;
  period: string;
  location: string;
  description: string;
  technologies: string[];
}

const { title, company, period, location, description, technologies } = Astro.props;
---

<div class="relative pl-8 not-last:pb-12">
  {/* Timeline line */}
  <div class="absolute left-0 top-2.5 h-full w-0.5 bg-muted group-first:h-[calc(100%-24px)] group-first:top-6">
    <div class="absolute h-3 w-3 -left-1.25 top-0 rounded-full border-2 border-primary bg-background"></div>
  </div>

  {/* Content */}
  <div class="space-y-3">
    <div class="flex items-center gap-3">
      <div class="shrink-0 size-9 bg-accent rounded-full flex items-center justify-center">
        <Building2 className="size-5 text-muted-foreground" />
      </div>
      <span class="text-lg font-semibold">{company}</span>
    </div>
    <div>
      <h2 class="text-xl font-medium">{title}</h2>
      <div class="flex items-center gap-2 mt-1 text-sm">
        <Calendar className="size-4" />
        <span>{period}</span>
        <MapPin className="size-4" />
        <span>{location}</span>
      </div>
    </div>
    <p class="text-muted-foreground">{description}</p>
    <div class="flex flex-wrap gap-2">
      {
        technologies.map((tech) => (
          <Badge key={tech} variant="secondary" className="rounded-full">
            {tech}
          </Badge>
        ))
      }
    </div>
  </div>
</div>
